'.source.js, .source.js-semantic':
  'attr(attributeName);':
    'prefix': 'attr'
    'body': 'attr(\'${1:attributeName}\');$2'
    'description': 'Get the value of an attribute for the first element in the set of matched elements.'
  'attr(attributeName, value);':
    'prefix': 'attrsi'
    'body': 'attr(\'${1:attributeName}\', \'${2:value}\');$3'
    'description': 'Set one or more attributes for the set of matched elements.'
  'attr({attributeName: value});':
    'prefix': 'attrso'
    'body': 'attr({${1:attributeName}: \'${2:value}\'});$3'
    'description': 'Set one or more attributes for the set of matched elements using an object of attribute-value pairs to set.'
  'attr(attributeName, cb);':
    'prefix': 'attrfn'
    'body': """
    attr(\'${1:attributeName}\', function(${2:index, oldAttributeValue}) {
      ${3:return ${4: oldAttributeValue}};
    });$5"""
    'description': 'A function returning the value to set. this is the current element. Receives the index position of the element in the set and the old attribute value as arguments.'