'.source.js, .source.js-semantic':
  'one(events, selector, data, handler);':
    'prefix': 'one'
    'body': """
      one('${1:eventNames}'${2:, \'${3:selector}\'${4:, ${5:data}}}${6:, ${7:function(${8:event}) {
        ${8:event}${9:.preventDefault();}$10
      \\}}});$11
    """
    "description":"Attach a handler to an event for the elements. The handler is executed at most once per element per event type."
