'.source.js, .source.js-semantic':
  'prop(propertyName);':
    'prefix': 'prop'
    'body': 'prop(\'${1:propertyName}\');$2'
    'description': 'Get the value of a property for the first element in the set of matched elements.'
  'prop(propertyName, value);':
    'prefix': 'propsi'
    'body': 'prop(\'${1:propertyName}\', \'${2:value}\');$3'
    'description': 'Set one or more properties for the set of matched elements.'
  'prop({propertyName: value});':
    'prefix': 'propso'
    'body': 'prop({${1:propertyName}: \'${2:value}\'});$3'
    'description': 'Set one or more properties for the set of matched elements using an object of property-value pairs to set.'
  'prop(propertyName, cb);':
    'prefix': 'propfn'
    'body': """
    prop(\'${1:propertyName}\', function(${2:index, oldPropertyValue}) {
      ${3:return ${4:oldPropertyValue}};
    });$5"""
    'description': 'A function returning the value to set. Receives the index position of the element in the set and the old property value as arguments. Within the function, the keyword this refers to the current element.'